---
import "../styles/tailwind/base.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Website</title>
  </head>
  <body>
    <h1 class="text-24">Hello world</h1>
    <button class="mt-20 px-24 py-12 text-20 rounded-8 bg-slate-200"
      >Click me</button
    >
  </body>
</html>
